:root {
    --background_col: 245, 240, 230;
    --button_col: 255, 150, 50;
    --button_hover_col: 0, 220, 50;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(var(--background_col));
    font-size: 16px;
}
button {
    transition-duration: 500ms;
    color: black;
    background-color: rgba(var(--button_col), 0.5);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 40px;
    border: 2px solid rgba(var(--button_col), 0.60);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover {
    color: blue;
    background-color: rgba(var(--button_hover_col), 0.25);
    border: 2px solid rgba(var(--button_hover_col), 0.4);
}

.header {
    color: black;
    margin-left: 10px;
}
.header a {
    text-decoration: none;
}
.header button {
    transition-duration: 250ms;
    color: black;
    background-color: transparent;
    border: 0px solid transparent;
}
.header button:hover {
    color: blue;
}
.header hr {
    border-top: 3px solid rgb(51, 51, 51);
    margin-top: 0px;
    margin-left: -10px;
}

.post {
    margin-left: 10px;
}
.post ul {
    margin-left: -40px;
    margin-top: 5px;
    list-style-type: none;
}
.post button {
    height: 32px;
}

.poem {
    margin-left: 20px;
    margin-right: 20px;
}
.poem h1 {
    margin:0px;
    padding:0px;
}
.poem h4 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-weight: lighter;
    font-style: italic;
}
.poem p {
    white-space: pre-line;
}