body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(206, 202, 184);
}

.header {
    color: black;
    margin-left: 10px;
}
.header a {
    text-decoration: none;
}
.header button {
    transition-duration: 0.5ms;
    color: black;
    background-color: transparent;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 40px;
    border: 0px solid transparent;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.header button:hover {
    color: blue;
}
.header hr {
    border-top: 3px solid rgb(51, 51, 51);
    margin-top: 0px;
    margin-left: -10px;
}

.poem {
    margin-left: 20px;
}

.poem h1 {
    margin:0px;
    padding:0px;
}
.poem h4 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-weight: lighter;
    font-style: italic;
}
.poem p {
    white-space: pre-line;
}